@use '/src/styles/variables.scss' as *;
@use '/src/styles/mixins/media.scss' as *;

@include tablet-sm {
    .pagination {
        &__button {
            &:hover {
                background-color: $skin-background;
                border: 0;
            }

            &.active:hover {
                background-color: $active;
                border: 1px solid $orange; 
            }
        }
    }
}
