@use '/src/styles/mixins/media.scss' as *;

@include tablet {
    .equipment__pagination {
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        .pagination__buttons {
            flex-wrap: wrap;
        }
    }
}
