@use '/src/styles/mixins/classes.scss' as *;
@use '/src/styles/variables.scss' as *;

.banner {
    padding: 26px 0;
    border-bottom: 1px solid $dark-border;

    &__container {
        @include flex(space-between);
    }

    &__info {
        width: 50%;
        flex: 0 0 auto;
    }
    
    &__title {
        font-weight: 600;
        font-size: 54px;
        line-height: 1.2;
        max-width: 500px;

        .marked {
            line-height: 1.2;
        }
    }

    &__description {
        font-size: 20px;
        padding: 32px 0;
    }

    &__buttons {
        @include flex(flex-start);
        max-width: 500px;
        gap: 36px;
        font-weight: 700;

        .button {
            min-width: 200px;
        }
    }
    
}