$white: red;
$gray: #777f99;
$pink: #d32ce6;
$yellow:#e3b315;
$blue: #4b69ff;
$purple: #8847ff;
$red: #eb4b4b;
$orange: #f78f1f;
$light-green: #11d15e;
$main-background: #070a14;
$secondary-background: #05070f;
$skin-background: #0a0e1a;
$dark-border: #0f1424;
$gray-transparent: #aad0f966;
$gray-text: #60758b;
$scroll-bg: #2a333b;
$btn-gradient: linear-gradient(90deg, #ff7d14 0%, #f94327 148.35%);
$btn-hover-gradient: linear-gradient(90deg, #ff5b14 0%, #ff2200 148.35%);
$dark-gradient: linear-gradient(0deg, #070A14 0%, #0D1120 100%);
$trust-pilot-gradient: linear-gradient(0deg, rgba(7, 10, 20, 1) 46.5%, rgba(5, 7, 15, 1) 46.5%);
$faq-gradient: linear-gradient(270.04deg, #0a0e1a 0.02%, rgba(18, 25, 45, 0.99) 99.96%);
$faq-hover-background: linear-gradient(90deg, rgba(247, 143, 31, 0.16) 5%, rgba(18, 25, 45, 0.99) 99.96%);
