@use '/src/styles/mixins/media.scss' as *;

@include tablet-lg {
    .footer {
        &__links {
            display: grid;
            grid-template-areas: 
            "info info info"
            "menu other tutor";
        }

        &__description {
            width: 100%;
        }

        &__column {
            &--info {
                grid-area: info;
                width: 100%;
            }

            &--menu {
                grid-area: menu;
                width: 100%;
            }

            &--other {
                grid-area: other;
                width: 100%;
            }

            &--tutorials {
                grid-area: tutor;
                width: 100%;
            }
        }
    }
}

@include tablet {
    .footer {
        &__links {
            display: flex;
            flex-direction: column;
            padding-bottom: 25px;
        }

        &__column {
            &--desktop {
                display: none;
            }

            &--mobile {
                display: block;
                width: 100%;

                .accordion__arrow {
                    top: 30%;
                }
            }

            .accordion__button {
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        &-list__item {
            list-style-type: none;
        }
    }
}
