@mixin flex($justifyContent: center, $alignItems: center, $direction: row){
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin colored-box($color) {
    background-image: radial-gradient(circle at 50% 150%, rgba($color, 0.25), rgba($color, 0));
    box-shadow: 0 3px 0 $color;
}