@use '/src/styles/variables.scss' as *;

.button {
    color: $white;
    background: $btn-gradient;
    padding: 15.5px 35px;
    box-shadow: 0 0 15px rgb(249 67 39 / 20%);
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background 300ms ease-in-out;
    text-transform: uppercase;

    &:hover {
        background: $btn-hover-gradient;
        box-shadow: 0 0 15px rgb(249 67 39 / 30%);
    }
}
